@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

body{
    background-color: black;
    color: white;
    font-family: "Gravitas One", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin: 0;
}

button{
    background-color: #64A712;
    color: white;
    padding: 20px;
}

.img01{
    width: 110%;
}

